.posts {
  list-style: none;
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  height: 5rem;
}
@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 50%);
  }
}
